<tr>
  <td
    style="
      background-color: #02232b;
      padding: 12px;
      height: 160px;
      text-align: center;
    "
  >
    <h1 style="text-decoration: none; color: white">
      <a
        href="#"
        style="
          text-decoration: none;
          color: white;
          text-transform: uppercase;
          font-size: 20px;
        "
      >
        Explorar o site Overland Angola
      </a>
    </h1>

    <a
      style="text-decoration: none; color: black; margin-right: 10px"
      href="https://facebook.com"
    >
      <img
        style="width: 40px; height: 40px; object-fit: cover"
        src="https://firebasestorage.googleapis.com/v0/b/history-post.appspot.com/o/newsletter-images%2Fface.png?alt=media&token=bc2a4dd8-d356-4e96-bdfd-a1cd7bdc3e16"
        alt=""
    /></a>
    <a
      style="text-decoration: none; margin-right: 10px"
      href="https://youtube.com"
    >
      <img
        style="width: 40px; height: 40px; object-fit: cover"
        src="https://firebasestorage.googleapis.com/v0/b/history-post.appspot.com/o/newsletter-images%2Finsta.png?alt=media&token=d8a797b3-9615-44ef-af8c-8ecc9bfaa1f9"
        alt=""
      />
    </a>
    <a style="text-decoration: none" href="https://youtube.com">
      <img
        style="width: 40px; height: 40px; object-fit: cover"
        src="https://firebasestorage.googleapis.com/v0/b/history-post.appspot.com/o/newsletter-images%2Fyoutube.png?alt=media&token=e055c956-457e-4895-9443-1548ecae811a"
        alt=""
      />
    </a>
  </td>
</tr>
