<tr>
  <td style="text-align: center;">
    <p style="font-style: italic; font-size: 14px">
      &copy; Todos os direitos reservados.
    </p>
    <p style="font-size: 14px">O nosso endereço postal é:</p>
    <p style="font-size: 14px">Angola, Luanda</p>
  </td>
</tr>
