<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post</title>
  </head>
  <body>
    <table width="100%" padding="0" style="background-color: #e3e3e3">
      <tr>
        <td align="center" style="text-align: center">
          <table
            cellspacing="0"
            cellpadding="0"
            border="0"
            style="width: 600px; margin: 0 auto; background-color: #fff"
          >
            <tr>
              <td align="center" style="padding: 10px">
                <img
                  style="width: 600px; height: 140px; object-fit: contain"
                  src="https://firebasestorage.googleapis.com/v0/b/history-post.appspot.com/o/newsletter-images%2Flogotipo-texto.png?alt=media&token=924c42ce-61d6-4cd6-b507-b4f89a1f4444"
                  alt="logo"
                />
              </td>
            </tr>

            <% posts.forEach((post)=>{ %> 
              <%- include('post-card.ejs',{post:post}) %> 
            <% }) %>

            <tr>
              <td
                style="background-color: #02232b; padding: 12px; height: 160px"
              >
                <h1 style="text-decoration: none; color: white">
                  <a
                    href="#"
                    style="
                      text-decoration: none;
                      color: white;
                      text-transform: uppercase;
                      font-size: 20px;
                    "
                  >
                    Explorar o site Overland Angola
                  </a>
                </h1>

                <a
                  style="
                    text-decoration: none;
                    color: black;
                    margin-right: 10px;
                  "
                  href="https://facebook.com"
                >
                  <img
                    style="width: 40px; height: 40px; object-fit: cover"
                    src="https://firebasestorage.googleapis.com/v0/b/history-post.appspot.com/o/newsletter-images%2Fface.png?alt=media&token=bc2a4dd8-d356-4e96-bdfd-a1cd7bdc3e16"
                    alt=""
                /></a>
                <a
                  style="text-decoration: none; margin-right: 10px"
                  href="https://youtube.com"
                >
                  <img
                    style="width: 40px; height: 40px; object-fit: cover"
                    src="https://firebasestorage.googleapis.com/v0/b/history-post.appspot.com/o/newsletter-images%2Finsta.png?alt=media&token=d8a797b3-9615-44ef-af8c-8ecc9bfaa1f9"
                    alt=""
                  />
                </a>
                <a style="text-decoration: none" href="https://youtube.com">
                  <img
                    style="width: 40px; height: 40px; object-fit: cover"
                    src="https://firebasestorage.googleapis.com/v0/b/history-post.appspot.com/o/newsletter-images%2Fyoutube.png?alt=media&token=e055c956-457e-4895-9443-1548ecae811a"
                    alt=""
                  />
                </a>
              </td>
            </tr>
            <tr>
              <td>
                <p style="font-style: italic; font-size: 14px">
                  &copy; Todos os direitos reservados.
                </p>
                <p style="font-size: 14px">O nosso endereço postal é:</p>
                <p style="font-size: 14px">Angola, Luanda</p>
              </td>
            </tr>

            <tr>
              <td>
                <a href="#" style="font-size: 14px; padding-bottom: 6px">
                  cancelar subscrição
                </a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
