<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <table width="600px:" style="margin: 0 auto">
      <tr>
        <td style="padding: 20px; text-align: center">
          <img
            style="
              width: 300px;
              height: 100px;
              object-fit: contain;
              align-self: center;
            "
            src="https://firebasestorage.googleapis.com/v0/b/history-post.appspot.com/o/newsletter-images%2Flogotipo-texto.png?alt=media&token=924c42ce-61d6-4cd6-b507-b4f89a1f4444"
            alt="logo"
          />

          <p style="text-align: start; font-family: sans-serif; color: black">
            Olá, <%= userName %>
          </p>

          <p style="text-align: start; font-family: sans-serif; color: black">
            Seja muito bem-vindo(a) à Overland Angola! Estamos entusiasmados por
            tê-lo(a) conosco em nossa jornada por este incrível país.
          </p>

          <p style="text-align: start; font-family: sans-serif; color: black">
            Aqui na Overland Angola, exploramos o que há de melhor nas viagens,
            passeios e aventuras overland. Prepare-se para descobrir destinos
            deslumbrantes, conhecer rotas emocionantes e obter dicas valiosas
            para suas próximas expedições.
          </p>
          <hr style="background-color: #eee; width: 100%" />

          <p style="color: black">
            Se você tiver alguma dúvida, responda a este e-mail ou entre em
            contato conosco pelo e-mail
          </p>
          <p>overlandangola@gmail.com</p>
        </td>
      </tr>
    </table>
  </body>
</html>
