<tr>
  <td align="center" style="padding: 10px; text-align: center">
    <img
      style="width: 600px; height: 140px; object-fit: contain"
      src="https://firebasestorage.googleapis.com/v0/b/history-post.appspot.com/o/newsletter-images%2Flogotipo-texto.png?alt=media&token=924c42ce-61d6-4cd6-b507-b4f89a1f4444"
      alt="logo"
    />
  </td>
</tr>
