<table style="width: 400px; padding: 0; margin: 30px auto">
  <tr>
    <td
      style="
        text-align: center;
        width: 100%;
        padding: 0;
        border: 1px solid #ececec;
      "
    >
      <img
        style="object-fit: contain; width: 100%; height: 220px"
        src=<%= product.image %>
        alt="imagem-do-produto"
      />

      <ul
        style="
          color: white;
          font-size: 16px;
          margin-bottom: 0;
          list-style: none;
          padding: 10px 8px;
          background-color: #02232b;
        "
      >
        <div style="text-align: start">
          <li>Nome: <strong> <%= product.name %></strong></li>
          <li>Quantidade <strong> <%= product.storeQuantity %> </strong></li>
        </div>

        <div style="text-align: end; padding-right: 8px">
          <li>Total: <strong> <%= product.totalPrice %> </strong></li>
        </div>
      </ul>
    </td>
  </tr>
</table>
